{% extends "base.html" %}

{% block title %} 
My Bookings 
{% endblock %}

{% block content %}
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-weight: 1000; font-family: 'Poppins', sans-serif" href="/">Bookmyshow</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-md-flex justify-content-md-end" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    {% if user.is_tournament_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="/my_stadiums">Theater</a>
                        </li>
                    {% elif user.is_super_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="/tournaments">Tournaments</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/my_tickets">My Bookings</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.is_tournament_admin %}
                            {{ user.name }}, Theatre Admin
                        {% elif user.is_super_admin %}
                            {{ user.name }}, Super Admin
                        {% else %}
                            {{ user.name }}
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container-fluid align-self-center">
    <br/>
    <h2 class="text-center mb-4">My Bookings</h2>
    <hr/>
    <div class="container pt-4 pb-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for ticket in user.tickets_booked %}
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <p class="card-text">ID <strong>{{ ticket.id }}</strong></p>
                            <h5 class="card-title"><div class="fw-bold">{{ ticket.tournament_name }}</div></h5>
                            <p class="card-text">
                                <a href="{{ ticket.theater_address_link }}" target="_blank" class="text-decoration-none text-dark">
                                    {{ ticket.theater_name }}, {{ ticket.theater_address }}
                                </a>
                            </p>
                            <p class="card-text">{{ ticket.show_timinig }}</p>
                            <hr/>
                            <p class="card-text">No. of seats <strong>{{ ticket.no_of_seats }}</strong></p>
                            <p class="card-text">Seat Numbers: <strong>{{ ticket.seat_numbers|join(", ") }}</strong></p>
                            <hr/>
                            <p class="card-text">Total Cost <strong>{{ ticket.total_cost }} Rs</strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
